@{
    Layout = null;
    string errorMsg = ViewData["error"]?.ToString() ?? string.Empty;
}

@model Peacock.ManageWeb.Models.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V15</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/lib/loginview/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/loginview/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/loginview/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/loginview/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/loginview/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/loginview/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/loginview/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/loginview/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/loginview/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/loginview/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/lib/loginview/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(/lib/loginview/images/bg-01.jpg);">
                    <span class="login100-form-title-1">
                        优瑞丝网机械 欢迎您
                    </span>
                </div>

                <form class="login100-form validate-form" method="post">
                    @Html.AntiForgeryToken()
                    <div class="wrap-input100 validate-input m-b-26" data-validate="请输入用户名">
                        <span class="label-input100">用户名</span>
                        <input class="input100" type="text" name="username" placeholder="请输入用户名" value="@Model.UserName">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="请输入密码">
                        <span class="label-input100">密码</span>
                        <input class="input100" type="password" name="password" placeholder="请输入密码">
                        <span class="focus-input100"></span>
                    </div>

                    @if (!string.IsNullOrEmpty(errorMsg))
                    {
                        <span style="color:red">@errorMsg</span>
                    }

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="rememberme" checked="@(Model.RememberMe?"checked":string.Empty)">
                            <label class="label-checkbox100" for="ckb1">
                                记住我
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                忘记密码?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            登录
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/lib/loginview/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/loginview/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/loginview/vendor/bootstrap/js/popper.js"></script>
    <script src="~/lib/loginview/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/loginview/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/loginview/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/lib/loginview/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/loginview/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/loginview/js/main.js"></script>

</body>
</html>