<form method="post" enctype="multipart/form-data" action="/Base/UploadImg" class="j-form-upload">
    <div class="form-group">
        <div class="col-md-10">
            <p>请选择图片:</p>
            <input type="file" name="files" id="uploadFile" multiple>
            <input type="hidden" name="uploadPath" value="@ViewData["uploadPath"]" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input class="btn btn-default" type="submit" value="上传">
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {

        $('.j-form-upload').submit(function (e) {
            e.preventDefault();

            var formData = new FormData();

            formData.append("file", $('#uploadFile')[0].files[0]);

            $.ajax({
                url: '/Base/UploadImg',
                data: formData,
                method: 'POST',
                dataType: 'JSON',
                processData: false, 
                contentType: false,
                success: function (r) {
                    if (uploadCallback) {
                        uploadCallback(r.link);
                    }
                }
            })

        });
    });
</script>